<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.allinoneapppractise">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllInOneAppPractise">
        <activity
            android:name=".practice_handler.HandlerMainActivity"
            android:exported="false" />
        <activity
            android:name=".mediaplayer.ServiceMediaPlayer"
            android:exported="false" />

        <service
            android:name=".bound_service_example.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".bound_service_example.BoundServiceDemo"
            android:exported="false" />

        <service
            android:name=".mediaplayer.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".service_demo.BackgroundServiceDemoMainActivity"
            android:exported="false" />

        <service
            android:name=".service_demo.TimerForegroundService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".movie_recycler_view_kotlin.ui.MovieRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".recycler_view_demos.by_philip.RecyclerViewDemoActivity"
            android:exported="false" />
        <activity
            android:name=".custom_movie_array_adapter_kotlin.CustomAdapterDemoMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".handler_and_looperbycodinginflow.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>